version: '2'
services:
  bicicletasdb:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: diego
      MYSQL_PASSWORD: 1234
      MYSQL_DATABASE: bicicletasdb
      MYSQL_HOST: bicicletasdb
  biciun:
    image: fullhd4knofake/bicicletas:estable
    # build: .
    ports:
      - "9000:9000"
    depends_on:
      - bicicletasdb